[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"

[packages]
pycld2 = "*"
pydantic = "*"
omnilingual = {editable = true, git = "https://github.com/DennisMerkus/pyomnilingual.git", ref = "master"}
documental = {editable = true, git = "https://github.com/DennisMerkus/documental.git", ref = "master"}
bs4 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
